/* 기본설정 */
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-image: url('../images/default_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
}

/* 네비게이션 */
.navBar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0 , 0.7);
    z-index: 999;
}
.navBar__logo{
    width: 7vw;
    height: 7vh;
}
.navBar__logo img{
    max-width: 100%;
    max-height: 100%;
}
.navbar__menu{
    display: flex;
}
.navbar__item{
    padding: 12px 12px;
    margin : 0 12px;
    color: #fff;
}
.navbar__item.active, .navbar__item:hover{
    border-bottom: 2px solid #fff;
    font-weight: bold;
}

/* 메인페이지 */
#main{
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}
#footer{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0 , 0.7);
    color: #fff;
    width: 100%;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 프로그램 소개 */
#introduce{
    display: flex;
    height: 100vh;
    background-image: url(../images/introduce_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.introduce__background{
    flex-basis: 50%;
    
}
.introduce__description{
    flex-basis: 50%;
    padding-top: 25vh;
    color: white;
}
.description__title{
    margin-bottom: 20px;
}
.description__text{
    line-height: 1.6;
}


/* 캐릭터 소개 */
/* 캐릭터소개 기본 */
#characters{
    padding-top: 10vh;
    display: flex;
    position: relative;

}
.characters__sidebar{

    padding-left: 2vw;
    flex-basis: 10%;
}
.characters__contentWrap{
    position: relative;
    flex-basis: 90%;
    /* width: 100vw; */
}

/* 캐릭터 소개 - 사이드바 */
.sidebar__item{
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    list-style-type: none;
}

.item__lw{
    background-image: url('../images/menu_btn01_front.png');
}
.item__lw:hover{
    background-image: url('../images/menu_btn01_flip.png');
}

.item__jjw{
    background-image: url('../images/menu_btn02_front.png');
}
.item__jjw:hover{
    background-image: url('../images/menu_btn02_flip.png');
}

.item__lh{
    background-image: url('../images/menu_btn03_front.png');
}
.item__lh:hover{
    background-image: url('../images/menu_btn03_flip.png');
}

.item__kgo{
    background-image: url('../images/menu_btn04_front.png');
}
.item__kgo:hover{
    background-image: url('../images/menu_btn04_flip.png');
}
.item__sse{
    background-image: url('../images/menu_btn05_front.png');
}
.item__sse:hover{
    background-image: url('../images/menu_btn05_flip.png');
}
.item__nhg{
    background-image: url('../images/menu_btn06_front.png');
}
.item__nhg:hover{
    background-image: url('../images/menu_btn06_flip.png');
}


/* 캐릭터 설명 */
.on{
    opacity: 1 !important;
    visibility: visible !important;
    transition: all .5s ease-in;
}

.characters__content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.content__characterimg{
    flex-basis: 40%;
} 
.content__description{
    padding-top: 25vh;
    flex-basis: 60%;
    color: #fff;
}

.description__titleWrap{
    display: flex;
    align-items: center;
}

.description__title{
    width: 120px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.description__subtitle{
    margin-bottom: 20px;
}

/* 이휘 */
.character__lw{
    background-image: url('../images/character01.png');
}
.character__lw .description__title{
    background-image: url('../images/character01_name.png');
}

/* 정지운 */
.character__jjw{
    background-image: url('../images/character02.png');
}
.character__jjw .description__title{
    background-image: url('../images/character02_name.png');
}

/* 이현 */
.character__lh{
    background-image: url('../images/character03.png');
}
.character__lh .description__title{
    background-image: url('../images/character03_name.png');
}

/* 김가온 */
.character__kgo{
    background-image: url('../images/character04.png');
}
.character__kgo .description__title{
    background-image: url('../images/character04_name.png');
}

/* 신소은 */
.character__sse{
    background-image: url('../images/character05.png');
}
.character__sse .description__title{
    background-image: url('../images/character05_name.png');
}

/* 노하경 */
.character__nhg{
    background-image: url('../images/character06.png');
}
.character__nhg .description__title{
    background-image: url('../images/character06_name.png');
}
